services:
  music-model:
    image: 1vmc1/music-app:model-v1
    container_name: music-model
    ports:
      - "8000:8000"
    volumes:
      # файлы весов и labels ожидаются в /opt/music-app на хосте
      - ./best_model_heavy_m192_h256_gru256x2.pth:/app/best_model_heavy_m192_h256_gru256x2.pth
      - ./labels.json:/app/labels.json
    restart: always

  music-bot:
    image: 1vmc1/music-app:bot-v1
    container_name: mt-music-bot-1
    depends_on:
      - music-model
    environment:
      - TELEGRAM_TOKEN=8137581059:AAFOSgGg1RE-Kq0coZceSYncj_L89DMdYK0
      - API_URL=http://music-model:8000/predict_segmented
    restart: always
