[Unit]
Description=Music Genre API
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/app
ExecStart=/opt/app/.venv/bin/python api.py
Restart=always

[Install]
WantedBy=multi-user.target
